# macOS
.DS_Store

# Node.js
npm-debug.log
/node_modules/

# OCaml/BuckleScript/ReasonML
.merlin
.bsb.lock
/lib/bs/
*.bs.js

# Git
*.orig

# Project files
# TODO: remove the tests that create these files
**/testUtils/**/*.txt
